@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
}

body{
background-color: grey;
line-height: 1.2;
}


h4{
    font-size: 1.3rem;
}


/*nav styling*/
.bg-light{
    background-color: rgba(25, 25, 25, 0) !important;
}

.navbar a:hover{
        color: #626262 !important;
        transition-duration: 0.4s !important;
}

.navbar a{
        color: white !important;
        
}

.form-control{
border: none;

border-radius: 0;

}
.btn{
    border-color: transparent !important;
    border-width: 0px;
background-color: transparent;
border-radius: 0px;
color: white;
}

.btn:hover{
    background-color: transparent;
    border-color: transparent;
    opacity: 0.7;
}

.btn-outline-success {
    border-width: 0px;
    color: transparent !important;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.navbar-light .navbar-toggler-icon {

        background-image: url(../../HaiTim_Project/images/menu.png) !important;

    }

/*..................*/



/*footer styling*/
.subscribe{
    background-color: grey;
}
.bg-dark {
    background-color: rgba(0, 0, 0, 0.2)!important;
}
/*.......................*/



.up{
    position: fixed;
    margin: 40% 10% 20% 96%;
    opacity: 0.5;
        width: 50px;
    height: 50px;
  z-index: 1050;
          transition-duration: 0.4s;
}
.up:hover{
    opacity: 1;
     transition-duration: 0.4s;
}


a{
        text-decoration: none;
    color: #D0D0D0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em
}

a:hover{
        color: #626262;
        transition-duration: 0.8s;
}

h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 9%;
    margin-left: 50%;
    font-size: 6em;
}

.search{
    margin-left: 96.5%;
    margin-top:-13%;
    background-image: url(../images/search.png);
    background-size: cover;
    position:fixed;
    height: 35px;
    width: 35px;
    border: none;
    background-color: transparent;
    z-index: 1050;
}   


.search:hover{
    opacity: 0.6;
    transition-duration: 0.4s;
}

.logo{
    position: absolute;
    justify-content: center;
    outline-color: white;
    outline-width: thick;
    
    left: 47.5%;
}

.logo img{
        width: 75px;
    height: 70px;
}




.artist{
   
    display: flex;
    flex-direction: column;
    border-color: aliceblue;
    padding: 8em 13em;
    
    
}

.profile{
    position: absolute;
  margin: -20rem 62%;
      width:30rem;
}

.marg{
   
       margin-left: 3em;
}

.art1{
    display: flex;
    
}
.art2{
    display: flex;
    margin-top: 5%
    
}

.a1{
    display: flex;
    flex-direction: column;
    
}

.artist img{
    width: 215px;
height: 215px;
}

.a2{
    display: flex;
    flex-direction: column;
    
}



.a3{
    display: flex;
    flex-direction: column;
 
}



.a4{
    display: flex;
    flex-direction: column;
}

.sec{
    margin-top: 20%;
    padding: 3rem;
}


.photog p {
    padding: 3rem;
    width: 60%;
}

a{
    text-decoration: none;
    
}
a:hover{
   text-decoration: none;
       transition-duration: 0.4s;
    color:black;
}


h5{
     color:#a5a5a5;;
         font-family: 'Roboto', sans-serif;
         font-size: 0.8rem;
}
.footer{
   position: absolute;
   left: 0;
margin-top: 10%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   color: white;
   text-align: center;
   display: flex;
   flex-direction: column;
}

.icons{
    padding: 20px 20px;
    margin: 0% 0% 0% 0%;
    flex-direction: row;
}

.icons img {
    width: 3.2rem;
    height: 2rem;
    padding: 0 0 0 20px;
}

.pages a{

    padding: 0px 1%;
}

.cr{
    padding: 20px 20px;
}






